services:
  postgres:
    image: postgres:15-alpine
    container_name: edunode_postgres
    environment:
      POSTGRES_USER: edunode
      POSTGRES_PASSWORD: edunode@123
      POSTGRES_DB: edunode_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - edunode_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U edunode']
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:7
    container_name: edunode_mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: edunode
      MONGO_INITDB_ROOT_PASSWORD: edunode@123
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - edunode_network

  redis:
    image: redis:7-alpine
    container_name: edunode_redis
    command: redis-server --appendonly yes
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - edunode_network
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: edunode_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: edunode
      RABBITMQ_DEFAULT_PASS: secret123
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - edunode_network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: edunode_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin@123
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
    networks:
      - edunode_network
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  postgres_data:
    driver: local
  mongodb_data:
    driver: local
  redis_data:
    driver: local
  rabbitmq_data:
    driver: local
  minio_data:
    driver: local

networks:
  edunode_network:
    driver: bridge